/*wrap*/
.site-assistant__wrap{
    position: fixed;
    z-index: 999;
    display: none;
}
.site-assistant__wrap_aside{
    top: 120px;
    cursor: pointer;
    left: 30px;
}
.site-assistant__wrap_bottom{
    padding-top: 20px;
    bottom: -45px;
    right: 0
}
.site-assistant__wrap_fullscreen{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(89,89,89,.52);
}
/*close*/
.site-assistant__close {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 30px;
    display: none;
    z-index: 1;
    width: 30px;
    height: 30px;
    background: url(../img/x.svg) no-repeat center center;
    background-size: contain;
}
.site-assistant__wrap:hover .site-assistant__close {
    display: inline-block;
}

.site-assistant__dialog .site-assistant__close {
    display: inline-block;
}
/*person*/
.site-assistant__person {
    position: relative;
}
.site-assistant__person_xs {
    opacity: .9;
    width: 70px;
    height: 49px;
    background: url(../img/cat-head.svg) no-repeat bottom left;
    background-size: contain;
}
.site-assistant__person_xs:hover {
    opacity: 1; 
}
.site-assistant__person_sm {
    width: 185px;
    height: 270px;
    background: url(../img/cat-bottom.svg) no-repeat top center;
    background-size: contain;
}
.site-assistant__person_lg {
    position: absolute;
    right: 3%;
    top: 50%;
    bottom: 3%;
    left: 60%;
    max-width: 100%;
    max-height: 100%;
    background: url(../img/cat-fullsize.svg) no-repeat bottom left;
    background-size: contain;
    z-index: -1;
}
/*dialog*/
.site-assistant__dialog-wrap {
    position: absolute;
    bottom: 230px;
    right: 50px;
    display: inline-block;
}
.site-assistant__dialog-wrap_big {
    bottom: 50%;
    right: 40%;
}
.site-assistant__dialog {
    position: relative;
    box-shadow: 0px 29px 18px -14px rgba(0,0,0,.3);
    border: 2px solid orange;
    padding: 30px 35px 40px;
    background: #fff;
    border-radius: 50px;
    display: inline-block;
    min-width: 370px;
    max-width: 445px;
    font-size: 16px;
    line-height: 1.4;
    color: #003e7e;
    z-index: 1;
}
.site-assistant__dialog_big{
    border: 3px solid orange;
    padding: 57px 37px 50px;
}

.site-assistant__dialog:before {
    content: '';
    position: absolute;
    bottom: -50px;
    right: 20%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 44px 49px 0;
    border-color: rgba(0, 0, 0, 0) orange rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: 1;
}
.site-assistant__dialog:after {
    content: '';
    position: absolute;
    bottom: -45px;
    right: 20%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 40px 45px 0;
    border-color: rgba(0, 0, 0, 0) #fff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: 2;
    margin-right: 2px;
}
.site-assistant__dialog-item {
    display: block;
    text-align: center;
    margin-bottom: 8px;
    font-family: 'Bad Script', cursive;    
    line-height: 1.43;
    font-size: 24px;
}
.site-assistant__dialog-item:last-child {
    margin-bottom: 0;
}

/*ok btn*/
.site-assistant__btn-ok {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../img/ok.svg) no-repeat center center;
    background-size: contain;
    opacity: .9;
    cursor:pointer;
}
.site-assistant__btn-ok:hover {
    opacity: 1;
} 
/*link*/
.site-assistant__dialog-link {
    display: inline-block;
    width: 100%;
    padding: 2px 5px 3px;
    /*border: 1px solid rgba(0,0,0,.3);*/
    background: #f2f2f2;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    color: inherit !important;
}
.site-assistant__dialog-link:hover {
    background: rgba(0,0,0,.1);
    text-decoration: none;
}
.site-assistant__dialog-link:active {
    background: rgba(0,0,0,.2);
}